# SAS by-path

DEVPATH!="*/end_device-*", GOTO="sas_storage_end"

ACTION=="remove", GOTO="sas_storage_end"
SUBSYSTEM!="block", GOTO="sas_storage_end"
SUBSYSTEMS!="scsi", GOTO="sas_storage_end"
DEVPATH=="*/virtual/*", GOTO="sas_storage_end"
ENV{DEVTYPE}!="disk", GOTO="sas_storage_end"

IMPORT{program}="sas_path_id $devnode"

LABEL="sas_storage_end"
